.settings-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5px;
}

.right-content {
  flex: 1;
  height: 100%;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
